.movie-details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 60%;
}

.movie-details-container img {
  border-radius: 10px;
  width: 100%;
}

.movie-details-container .title {
  font-size: 1.6em;
  font-weight: 900;
}

.movie-details-container .subtitle {
  font-size: 1.4em;
  font-weight: 500;
}

.movie-details-container p {
  font-size: 1.2em;
  margin: 10px;
  text-align: justify;
  width: 100%;
}

.buttons-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movie-details-container a {
  background-color: rgba(12, 71, 4, 0.2);
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  font-size: 1.1em;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 20px 10px;
  padding: 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and ( max-width : 767.98px ) {

  .movie-details-container {
    width: initial;
  }
}
