* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(56, 14, 21, 0.4);
}

header {
  align-items: center;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  padding: 50px 5px;
  text-shadow: 2px 2px black;
}
